<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Meme Index Page</title>
    </head>
    <body>
        <h1>Meme Index Page</h1>
        <ul>
            <% for(let i=0; i < bingo.length; i++){ %>
                <li>
                    <a href="/fantasy/<%=bingo[i].id%>">
                        <%=bingo[i].name%>
                    </a>
                </li>
            <% } %>
        </ul>
        <nav>
            <a href="/fantasy/new">Add New Meme</a>
        </nav>
    </body>
</html>