<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>New Meme Entry Page</title>
    </head>
    <body>
        <h1>New Meme Entry Page</h1>
        <form action="/fantasy" method="POST">
            Name: <input type="text" name="name" /></br>
            Meme: <input type="text" name="meme" /></br>
            Check here if your Mother would understand this Meme (if she saw it): <input type="checkbox" name="motherKnow" /><br/>
            Meme explanation: <input type="text" name="explain" /></br>
            <input type="submit" value="Submit Meme">
            </form>
    </body>
    <nav>
    </nav>
</html>