<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NEW EJS</title>
    </head>
    <body>
        <h1>NEW EJS</h1>
    </body>
    <nav>

    </nav>
</html>