<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="/styles.css">
    <head>
        <meta charset="utf-8">
        <title>New Meme Entry Page</title>
    </head>
    <body>
        <h1>NEW MEME ENTRY PAGE</h1>
        <form action="/fantasy" method="POST">
            Name: <input type="text" name="name" /></br>
            Meme (direct link): <input type="text" name="meme" /></br>
            Meme explanation: <input type="text" name="explain" /></br>
            Check box you think your Mother would understand this Meme: <input type="checkbox" name="motherKnow" /><br/>
    </body>
    <nav>
    <input type="submit" value="SUBMIT MEME" style="width: 150px";>
    </form>
    </nav>
</html>