<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="/styles.css">
    <head>
        <meta charset="utf-8">
        <title>MEME SHOW PAGE</title>
    </head>
    <body>
        <header>
        <h1>MEME SHOW PAGE</h1></header>
        <img src="<%=bango.meme %>" class="img-class2"><p>
        <h3>Meme explanation: <p>
        <%=bango.explain; %><p>
        Meme provided by <%=bango.name; %>,
        <% if(bango.motherKnow === true){ %>
            and they believe their Mother would understand this Meme.
        <% } else { %>
            and they believe their Mother would NOT understand this Meme.
        <% } %></h3>
    </body>
    <nav>
        <a href="/fantasy"><button type="button" class="btn btn-primary btn-lg">RETURN TO MEME INDEX</button></a>
    </nav>
</html>