<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="/styles.css">
    <head>
        <meta charset="utf-8">
        <title>New Meme Entry Page</title>
    </head>
    <body>
        <header>
        <h1>MEME SHOW PAGE</h1></header>
        <img src="<%=bango.meme %>"><p>
        Meme explanation: <p>
        <%=bango.explain; %><p>
        Meme provided by <%=bango.name; %>,
        <% if(bango.motherKnow === true){ %>
            and they believe their Mother would understand this Meme.
        <% } else { %>
            and they believe their Mother would NOT understand this Meme.
        <% } %>
    </body>
    <nav>
        <a href="/fantasy"><button type="button" style="width: 150px;">RETURN TO MEME INDEX</button></a>
    </nav>
</html>