body{
    font-family: 'Press Start 2P', cursive;
    background-color: #5AD2F4;
    text-align: center;
    max-width: 80%;
    margin: auto;
}
header{
    color: #0B0A07;
    background-color: #32E875;
    text-align: center;
}
.img-class1{
    min-width: 25%;
    max-width: 50%;
}
.img-class1:hover{
    color: #0B0A07;
    cursor: pointer;
    box-shadow: 20px 20px #32E875;
}
.img-class2{
    min-width: 25%;
    max-width: 50%;
}
nav{
    background-color: #32E875;
    text-align: center;
}
.button{
    width: 250px;
}
.blank{
    width: 450px;
}
.bigButton{
    padding-top: 2em;
    width: 250px;
}
.pre{
    display: flex;
    flex-direction: row;
    margin: auto;
    border: solid blue 2px;
}
.main{
    display: flex;
    flex-direction: row;
    min-width: 25%;
    max-width: 50%;
    margin: auto;
    border: solid red 2px;
}
.second{
    border: solid black 2px;
}

