body{
    background-color: rgb(150, 220, 156);
    text-align: center;
}
header{
    background-color: GREEN;
    text-align: center;
}
.img-class1{
    max-width: 40%;
}
.img-class1:hover{
    color: blue;
    cursor: pointer;
    box-shadow: 20px 20px GREEN;
}
.img-class2{
    max-width: 40%;
}
nav{
    background-color: GREEN;
    text-align: center;
}


